
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>


    <link rel="stylesheet" href="~/Content/Libraries/Bootstrap4/CSS/bootstrap.min.css" />
    @RenderSection("customStyles", false)

   

</head>
<body class="container-fluid">
    @Html.Partial("_Header")

    <div class="container">

        @RenderBody()

    </div>






    @Html.Partial("_Footer")


    <script src="~/Content/Libraries/jQuery/jQuery.3.3.1.js"></script>
    <script src="~/Content/Libraries/Bootstrap4/Js/bootstrap.js"></script>

    @RenderSection("customScripts", false)
</body>
</html>
